* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #06161a, #2f5d68);
    color: white;
    animation: fadeInBody 1.2s ease-in;
}

header {
    text-align: center;
    padding: 35px 20px;
    background: #06161a;
    animation: slideDown 1.5s ease-in;
}

header h1 {
    font-size: 45px;
    color: #00ffd0;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
    margin-bottom: 20px;
}

nav {
    margin-top: 15px;
    animation: slideDown 1.5s ease-in;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    transition: all 0.4s ease;
}

nav a:hover {
    color: #00ffd0;
    transform: translateY(-5px);
}

/* Common Section Style */
section {
    width: 90%;
    max-width: 1100px;
    margin: 35px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease;
}

section:hover {
    transform: translateY(-5px);
}

section h2 {
    text-align: center;
    color: #00ffd0;
    margin-bottom: 25px;
    font-size: 30px;
}

.about p {
    font-size: 18px;
    line-height: 1.7;
}

.format-box {
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    margin: 15px 0;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.format-box:hover {
    transform: translateY(-5px);
}

.format-box h3 {
    color: #00ffd0;
    margin-bottom: 10px;
}

.format-box ul {
    margin-left: 25px;
    line-height: 1.8;
}

.gallery-images {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.gallery-images img {
    width: 380px;
    height: 230px;
    object-fit: cover;
    border: 5px solid #00ffd0;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.gallery-images img:hover {
    transform: scale(1.1) rotate(5deg);
}

.match-section {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    flex-wrap: wrap;
}

.schedule,
.highlights {
    flex: 1;
    min-width: 320px;
    background: rgba(0, 0, 0, 0.35);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease;
}

.schedule:hover,
.highlights:hover {
    transform: translateY(-5px);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

caption {
    background: linear-gradient(to right, #00e6aa, #009f7c);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

th {
    background: #00a982;
    color: white;
    padding: 15px;
}

td {
    padding: 15px;
    text-align: center;
    border: 2px solid #333;
    font-weight: bold;
}

td,
th {
    transition: all 0.3s ease;
    cursor: pointer;
}

td:hover,
th:hover {
    transform: scale(1.08);
    box-shadow: 0px 15px 15px rgba(3, 243, 147, 0.8);
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    color: #000;
    border-radius: 6px;
}

video {
    width: 100%;
    border: 5px solid #00ffd0;
    border-radius: 15px;
    transition: all 0.3s ease;
}

video:hover {
    transform: scale(1.03);
}

.sound {
    text-align: center;
}

audio {
    width: 60%;
    transition: all 0.3s ease;
}

audio:hover {
    transform: scale(1.03);
}

footer {
    text-align: center;
    background: #06161a;
    padding: 20px;
    margin-top: 40px;
    color: white;
}


@keyframes fadeInBody {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-60px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
